@use '@angular/material' as mat;

@include mat.core();
@import "@angular/material/prebuilt-themes/azure-blue.css";
// $theme: mat.define-theme();

/* Add application styles & imports to this file! */
// @tailwind base;
// @tailwind components;
@tailwind utilities;

// :root {
//   overflow-y: hidden;
// }

// body {
//   height: 100dvh;
//   overflow-y: auto;
// }

/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-form > * {
  margin-top: 2rem;
  padding: 1rem;
}

.example-form * {
  min-height: fit-content !important;
  overflow: visible !important;
}

.example-full-width {
  width: 100%;
} */
